body {
	background-image: url("../images/background.jpg");
	width: 100%; 
	height: 100%; 
	margin: 0 auto; 
	text-align: center;
	background-size: cover;
	font-family: Nunito;
	color:rgba(4,54,125,1);
	line-height: 1;
}

.grid-container {
	background-color:rgba(248,248,255,0);
	text-align:center;
	padding:5px;
}

h2 {
	text-aligh:center;
	line-height: 1;
	letter-spacing: 1.2px;
	font-size:50px;
	font-family: Lobster;
	color:rgba(4,54,125,1);
	padding: 5px;
}

.foot {
	color:rgba(155,155,155,1);
	font-size:12px;
	background:rgba(255,255,255,0.2);
	line-height:20px;
}

.grid-container {
	margin:0 auto;
}

.main-container {
	width: 100%;
}

.grid-container li {
	display: inline-block;
	list-style-type: none;
}

.navbtn
{
    padding: 4px;
    background-color: rgba(0,0,0, 0.3); /* Black w/opacity */
    color: #fff;
    cursor: pointer;
	display: inline;
    text-align: center;
}

.image {
    border: 4px solid rgba(0,0,0, 0.1);
	border-radius: 1px;
    padding: 0px;
    margin: 0px;
}

div {
	margin: 0 auto;
}

#myGallery {
    max-width:700px;
    margin:0 auto;
    padding:0;
    list-style:none;
}
#myGallery li {
    display: inline-block;
    *display:inline;
    width:30%; 
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

