body {
	background-image: url("../images/background.jpg");
	width: 100%; 
	height: 100%; 
	margin: 0 auto; 
	text-align: center;
	background-size: cover;
	font-family: Nunito;
	color:rgba(4,54,125,1);
	line-height: 1;
}

.grid-container {
	text-align:center;
	padding:5px;
	display: inline-block;
	width: auto;
}

h2 {
	text-aligh:center;
	line-height: 1;
	letter-spacing: 1.2px;
	font-size:50px;
	font-family: Lobster;
	color:rgba(4,54,125,1);
	padding: 5px;
}

.foot {
	color:rgba(235,235,235,1);
	font-size:12px;
	background:rgba(255,255,255,0.2);
	line-height:20px;
}

.main-container {
	width: auto;
}

.grid-container li {
	display: inline;
	list-style-type: none;
}

.navbtn
{
    padding: 4px;
    background-color: rgba(0,0,0, 0.3);
    color: #fff;
    cursor: pointer;
	display: inline-block;
    text-align: center;
    font-family: Nunito;
    width: calc(100% / 60);
}

img {
    border: 5px solid rgba(255,255,255,0.6);
    border-radius: 5px;
    padding: 0px;
    margin: 3px;
    max-height:150px;
}

img:hover {
	box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.navbtn:hover {
	background-color: rgba(0,0,0,0.4)
}


div {
	margin: 0 auto;
}

#myGallery li {
    display: inline;
    *display:inline;
    width:19%; 
    vertical-align:middle;
    margin:0;
    padding:0;
    width: calc(100% / 60);
}



